/* head */
.logo-in-Bugatti-page {
    float: left;
    width: 15%;
    height: 10%;
    border-radius: 60px;
    margin-left: 20px;
}
.Company-name {
    color: rgb(215, 253, 0);
    font-size: 10%;
    margin-top: -220px;
    margin-left: 22%;
    font-family: 'Comforter', cursive;
}
body {
    background: rgb(0, 0, 0) ;
}
hr {
    background: linear-gradient(to right, red, blue, yellow);
    width: 95%;
    height: 9px;
    background-color: rgb(47, 165, 57);
    margin-top: 20%;
    margin-bottom: -30px;
}
.head-title {
    color: white;
    text-align: center;
    font-size: 200%;
    color: #ffffff;
    margin-top: 30%;
    font-family: 'Comforter', cursive;
    @media (min-width: 992px)
}
.Home-b {
    font-size: 10%;
    border-radius: 10px;
    background-color: black;
    margin-left: -17%;
    margin-top: 100px;
    color: white;
    border-color: black;
    border-style: none;
    font-family: 'Comforter', cursive;
}
.Lyken-Hypersport-a {
    font-size: 10%;
    border-radius: 10px;
    background-color: black;
    margin-left: 1%;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
    font-family: 'Comforter', cursive;
}
.Ford-GT-c {
    font-size: 10%;
    font-family: 'Comforter', cursive;
    border-radius: 10px;
    background-color: black;
    margin-left: 1%;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Corvette {
    font-size: 10%;
    border-radius: 10px;
    background-color: black;
    margin-left: 1%;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    font-family: 'Comforter', cursive;
    border-color: black;
    border-style: none;
}
.Koenigsegg-J {
    font-size: 10%;
    border-radius: 10px;
    background-color: black;
    margin-left: 1%;
    margin-top: 100px;
    font-family: 'Comforter', cursive;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Dodge-a {
    font-size: 10%;
    border-radius: 10px;
    background-color: black;
    font-family: 'Comforter', cursive;
    margin-left: 13%;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Maclaren {
    font-size: 10%;
    border-radius: 10px;
    background-color: black;
    margin-left: 1%;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
    font-family: 'Comforter', cursive;
}
.Devel {
    font-size: 10%;
    border-radius: 10px;
    background-color: black;
    margin-left: 1%;
    margin-top: 100px;
    font-family: 'Comforter', cursive;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Mercedes {
    font-size: 10%;
    border-radius: 10px;
    background-color: black;
    margin-left: 1%;
    font-family: 'Comforter', cursive;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Home-b:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: white;
}
.Lyken-Hypersport-a:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Ford-GT-c:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
}
.Corvette:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Koenigsegg-J:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Dodge-a:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Maclaren:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Devel:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Mercedes:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
/* head */
/* Body */
.Bugatti-F {
    width: 100%;
    height: 50%;
    margin-left: 0.5%;
    margin-top: 100px;
    margin-right: 15%;
    border-radius: 30px;
}
.Bugatti-F:hover {
    transform: scale(1.1);
}
.Bugatti-S {
    width: 30%;
    height: 20%;
    margin-left: 3%;
    margin-top: 50px;
    border-radius: 30px;
}
.Bugatti-S:hover {
    transform: scale(1.5);
}
.Bugatti-T {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Bugatti-T:hover {
    transform: scale(1.5);
}
.Bugatti-FO {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Bugatti-FO:hover {
    transform: scale(1.5);
}
.Bugatti-FI {
    width: 30%;
    height: 20%;
    margin-left: 3%;
    margin-top: 25px;
    border-radius: 30px;
}
.Bugatti-FI:hover {
    transform: scale(1.5);
}
.Bugatti-SI {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Bugatti-SI:hover {
    transform: scale(1.5);
}
.Bugatti-SE {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Bugatti-SE:hover {
    transform: scale(1.5);
}
.Bugatti-EI {
    width: 30%;
    height: 20%;
    margin-left: 3%;
    margin-top: 25px;
    border-radius: 30px;
}
.Bugatti-EI:hover {
    transform: scale(1.5);
}
.Bugatti-Ni {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Bugatti-Ni:hover {
    transform: scale(1.5);
}
.Bugatti-Te {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Bugatti-Te:hover {
    transform: scale(1.5);
}
.Bugatti-El {
    width: 30%;
    height: 20%;
    margin-left: 3%;
    margin-top: 25px;
    border-radius: 30px;
}
.Bugatti-El:hover {
    transform: scale(1.5);
}
.Bugatti-Tw {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Bugatti-Tw:hover {
    transform: scale(1.5);
}
.Bugatti-TH {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Bugatti-TH:hover {
    transform: scale(1.5);
}
.Bugatti-FH {
    width: 30%;
    height: 20%;
    margin-left: 3%;
    margin-top: 25px;
    border-radius: 30px;
}
.Bugatti-FH:hover {
    transform: scale(1.5);
}
.Bugatti-Fe {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Bugatti-Fe:hover {
    transform: scale(1.5);
}
.Bugatti-Sh {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Bugatti-Sh:hover {
    transform: scale(1.5);
}
.Bugatti-Sn {
    width: 30%;
    height: 20%;
    margin-left: 3%;
    margin-top: 25px;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Bugatti-Sn:hover {
    transform: scale(1.5);
}
.Bugatti-En {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Bugatti-En:hover {
    transform: scale(1.5);
}
.Bugatti-Ew {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Bugatti-Ew:hover {
    transform: scale(1.5);
}
/* Body */
/* Interior */
.S-Interior {
    color: white;
    font-size: 150%;
    text-align: center;
    margin-bottom: 10%;
    font-family: 'Comforter', cursive;
    margin-top: -30%;
}
.Interior-F {
    width: 30%;
    height: 20%;
    margin-left: 3%;
    border-radius: 30px;
}
.Interior-F:hover {
    transform: scale(1.5);
}
.Interior-S {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Interior-S:hover {
    transform: scale(1.5);
}
.Interior-T {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Interior-T:hover {
    transform: scale(1.5);
}
.Interior-FO {
    width: 30%;
    height: 20%;
    margin-left: 3%;
    margin-top: 25px;
    border-radius: 30px;
}
.Interior-FO:hover {
    transform: scale(1.5);
}
.Interior-FI {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Interior-FI:hover {
    transform: scale(1.5);
}
.Interior-SI {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Interior-SI:hover {
    transform: scale(1.5);
}
.Interior-SV {
    width: 30%;
    height: 20%;
    margin-left: 3%;
    margin-top: 25px;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Interior-SV:hover {
    transform: scale(1.5);
}
.Interior-EI {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Interior-EI:hover {
    transform: scale(1.5);
}
.Interior-NI {
    width: 30%;
    height: 20%;
    margin-left: 0.5%;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Interior-NI:hover {
    transform: scale(1.5);
}
/* Interior */
/* Footer */
.Github-footer {
    width: 15%;
    height: 15%;
    border-radius: 360px;
    float: center;
    margin-left: 50%;
    margin-right: 45%;
    margin-bottom: -180px;
}
.Facebook-Account-mine {
    border-radius: 2000px;
    width: 15%;
    margin-left: 34%;
    margin-bottom: -165px;
    box-shadow: 0 20px 20px -17px rgb(252, 252, 252);
}
.Instagram-Account-mine {
    border-radius: 2000px;
    width: 15%;
    margin-left: 67%;
    margin-bottom: -145px;
    box-shadow: 0 20px 20px -17px rgb(253, 0, 0);
}
.Instagram-Account-mine:hover
{
    transform: scale(1.1);
    box-shadow: 0 30px 45px -15px rgba(255, 0, 0, 0.6);
}
.Facebook-Account-mine:hover
{
    transform: scale(1.1);
    box-shadow: 0 30px 45px -15px rgba(25, 0, 255, 0.6);
}
.Github-footer:hover
{
    transform: scale(1.1);
    box-shadow: 0 30px 45px -15px rgba(255, 0, 0, 0.6);
}
.Form-input {
    margin-bottom: -200px;
    margin-top: 50%;
    margin-left: 5%;
    width: 300px;
    height: 30px;
    background: rgb(10, 28, 36);
    color: white;
    font-size: 20px;
    border-color:white ;
    border-width: -10px;
}
.Email-input {
    margin-bottom: -200px;
    margin-top: 5%;
    margin-left: 5%;
    width: 300px;
    height: 30px;
    background: rgb(10, 28, 36);
    color: white;
    font-size: 20px;
    border-color:white ;
    border-width: -10px;
}
.Text-Area {
    width: 300px;
    height: 300px;
    margin-top: 5%;
    margin-left: 5%;
    background: rgb(10, 28, 36);
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.submit-button {
    width: 130px;
    height: 40px;
    background: rgb(24, 162, 221);
    margin-left: 5%;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 60px;
    color: White;
    border-color: black;
}
.submit-button:hover {
    transform: scale(1.3);
    padding-left: 2px;
    
}
.logo-footer {
    border-radius: 50%;
    width: 30%;
    height: 90%;
    margin-top: 10%;
    margin-bottom: -700px;
    float: left;
    margin-left: 1%;
}
.Description {
    color: white;
    font-family: 'Comforter', cursive;
    font-size: 10%;
    margin-left: 35%;
    margin-top: 15%;
    float: left;
}
.Description-F {
    color: white;
    font-family: 'Comforter', cursive;
    font-size: 10%;
    margin-left: -23%;
    margin-top: 19%;
    float: left;
}
.Description-S {
    color: white;
    font-family: 'Comforter', cursive;
    font-size: 10%;
    margin-left: -23%;
    margin-top: 23%;
    margin-bottom: -600px;
    float: left;
}
/* footer */