/* Head */
.logo-in-Ford-page {
    float: left;
    width: 220px;
    height: 170px;
    border-radius: 60px;
    margin-left: 50px;
}
.Company-name {
    color: rgb(215, 253, 0);
    font-size: 50px;
    margin-top: -250px;
    margin-left: 9%;
    font-family: 'Comforter', cursive;
}
body {
    background: rgb(0, 0, 0) ;
}
hr {
    background: linear-gradient(to right, red, blue, yellow);
    width: 95%;
    height: 15px;
    background-color: rgb(47, 165, 57);
    margin-top: -30px;
    margin-bottom: -30px;
}
.head-title {
    font-size: medium;
    color: white;
    text-align: center;
    font-size: 90px;
    color: #ffffff;
    margin-top: 220px;
    font-family: 'Comforter', cursive;
    @media (min-width: 992px)
}
.Home-b {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 1%;
    margin-top: 230px;
    color: white;
    border-color: black;
    border-style: none;
    font-family: 'Comforter', cursive;
}
.Lyken-Hypersport-a {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
    font-family: 'Comforter', cursive;
}
.Bugatti-c {
    font-size: 50px;
    font-family: 'Comforter', cursive;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Corvette {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15xp;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    font-family: 'Comforter', cursive;
    border-color: black;
    border-style: none;
}
.Ford-GT {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    font-family: 'Comforter', cursive;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Koenigsegg-a {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    font-family: 'Comforter', cursive;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Maclaren {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
    font-family: 'Comforter', cursive;
}
.Devel {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    font-family: 'Comforter', cursive;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Mercedes {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    font-family: 'Comforter', cursive;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Mclaren-GTR {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
    margin-right: 5%;
    font-family: 'Comforter', cursive;
}

.Home-b:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: white;
}
.Lyken-Hypersport-a:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Bugatti-c:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
}
.Corvette:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Ford-GT:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Koenigsegg-a:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Maclaren:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Devel:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Mercedes:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
.Mclaren-GTR:hover {
    background: linear-gradient(to right, rgb(121, 33, 33), rgb(13, 13, 80), rgb(112, 112, 15));
    color: rgb(255, 255, 255);
}
/* Head */
/* Body */
.Exterior-F {
    height: 1800px;
    width: 2800px;
    margin-left: 12%;
    margin-top: 200px;
    margin-right: 15%;
    border-radius: 30px;
}
.Exterior-F:hover {
    transform: scale(1.1);
}
.Exterior-S {
    width: 800px;
    height: 500px;
    margin-top: 100px;
    margin-left: 17%;
    border-radius: 30px;
}
.Exterior-S:hover {
    transform: scale(1.5);
}
.Exterior-T {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Exterior-T:hover {
    transform: scale(1.5);
}
.Exterior-FO {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Exterior-FO:hover {
    transform: scale(1.5);
}
.Exterior-FI {
    width: 800px;
    height: 500px;
    margin-left: 17%;
    margin-top: 25px;
    border-radius: 30px;
}
.Exterior-FI:hover {
    transform: scale(1.5);
}
.Exterior-SI {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Exterior-SI:hover {
    transform: scale(1.5);
}
.Exterior-SE {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Exterior-SE:hover {
    transform: scale(1.5);
}
.Exterior-EI {
    width: 800px;
    height: 500px;
    margin-left: 17%;
    margin-top: 25px;
    border-radius: 30px;
}
.Exterior:hover {
    transform: scale(1.5);
}
.Exterior-Ni {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Exterior-Ni:hover {
    transform: scale(1.5);
}
.Exterior-Te {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Exterior-Te:hover {
    transform: scale(1.5);
}
.Exterior-El {
    width: 800px;
    height: 500px;
    margin-left: 17%;
    margin-top: 25px;
    border-radius: 30px;
}
.Exterior-El:hover {
    transform: scale(1.5);
}
.Exterior-Tw {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Exterior-Tw:hover {
    transform: scale(1.5);
}
.Exterior-TH {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Exterior-TH:hover {
    transform: scale(1.5);
}
.Exterior-FH {
    width: 800px;
    height: 500px;
    margin-left: 17%;
    margin-top: 25px;
    border-radius: 30px;
}
.Exterior-FH:hover {
    transform: scale(1.5);
}
.Exterior-Fe {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Exterior-Fe:hover {
    transform: scale(1.5);
}
.Exterior-Sh {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Exterior-Sh:hover {
    transform: scale(1.5);
}
.Exterior-Sn {
    width: 800px;
    height: 500px;
    margin-left: 17%;
    margin-top: 25px;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Exterior-Sn:hover {
    transform: scale(1.5);
}
.Exterior-En {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Exterior-En:hover {
    transform: scale(1.5);
}
.Exterior-Ew {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Exterior-Ew:hover {
    transform: scale(1.5);
}
/* Body */
/* Interior */
.S-Interior {
    color: white;
    font-size: 120px;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Comforter', cursive;
}
.Interior-F {
    width: 800px;
    height: 500px;
    margin-left: 15.5%;
    border-radius: 30px;
}
.Interior-F:hover {
    transform: scale(1.5);
}
.Interior-S {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Interior-S:hover {
    transform: scale(1.5);
}
.Interior-T {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Interior-T:hover {
    transform: scale(1.5);
}
.Interior-FO {
    width: 800px;
    height: 500px;
    margin-left: 15.5%;
    margin-top: 25px;
    border-radius: 30px;
}
.Interior-FO:hover {
    transform: scale(1.5);
}
.Interior-FI {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Interior-FI:hover {
    transform: scale(1.5);
}
.Interior-SI {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
}
.Interior-SI:hover {
    transform: scale(1.5);
}
.Interior-SV {
    width: 800px;
    height: 500px;
    margin-left: 15.5%;
    margin-top: 25px;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Interior-SV:hover {
    transform: scale(1.5);
}
.Interior-EI {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Interior-EI:hover {
    transform: scale(1.5);
}
.Interior-NI {
    width: 800px;
    height: 500px;
    margin-left: 0.5%;
    border-radius: 30px;
    margin-bottom: 150px;
}
.Interior-NI:hover {
    transform: scale(1.5);
}
/* Interior */
/* Footer */
.Github-footer {
    width: 270px;
    height: 270px;
    border-radius: 360px;
    float: center;
    margin-left: 50%;
    margin-right: 45%;
    margin-bottom: -245px;
}
.Facebook-Account-mine {
    border-radius: 2000px;
    width: 175px;
    margin-left: 45%;
    margin-bottom: -175px;
    box-shadow: 0 20px 20px -17px rgb(252, 252, 252);
}
.Instagram-Account-mine {
    border-radius: 2000px;
    width: 175px;
    margin-left: 57%;
    margin-bottom: -160px;
    box-shadow: 0 20px 20px -17px rgb(253, 0, 0);
}
.Instagram-Account-mine:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(255, 0, 0, 0.6);
}
.Facebook-Account-mine:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(25, 0, 255, 0.6);
}
.Github-footer:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(255, 0, 0, 0.6);
}
.Form-input {
    margin-bottom: -200px;
    margin-top: 80px;
    margin-left: 70%;
    width: 700px;
    height: 60px;
    background: rgb(10, 28, 36);
    color: white;
    font-size: 25px;
    border-color:white ;
    border-width: -10px;
}
.Email-input {
    margin-bottom: -200px;
    margin-top: 40px;
    margin-left: 70%;
    width: 700px;
    height: 60px;
    background: rgb(10, 28, 36);
    color: white;
    font-size: 25px;
    border-color:white ;
    border-width: -10px;
}
.Text-Area {
    width: 700px;
    height: 400px;
    margin-top: 50px;
    margin-left: 70%;
    background: rgb(10, 28, 36);
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.submit-button {
    width: 160px;
    height: 50px;
    background: rgb(24, 162, 221);
    margin-left: 70%;
    margin-top: 20px;
    font-size: 25px;
    border-radius: 60px;
    color: White;
    border-color: black;
}
.submit-button:hover {
    transform: scale(1.3);
    padding-left: 2px;
    
}
.Gmail-logo {
    width: 175px;
    margin-left: 78%;
    margin-top: -900px;
    margin-bottom: -60px;
}
.logo-footer {
    border-radius: 350px;
    width: 700px;
    height: 600px;
    margin-top: 200px;
    margin-bottom: -700px;
    float: left;
    margin-left: 100px;
    margin-right: 1300px;
}
.Description {
    color: white;
    font-family: 'Comforter', cursive;
    font-size: 50px;
    margin-left: -32.5%;
    margin-top: 400px;
    margin-right: 1300px;
    float: left;
}
.Description-F {
    color: white;
    font-family: 'Comforter', cursive;
    font-size: 50px;
    margin-left: -49%;
    margin-top: 470px;
    margin-right: 90px;
    float: left;
}
.Description-S {
    color: white;
    font-family: 'Comforter', cursive;
    font-size: 50px;
    margin-left: -49%;
    margin-top: 540px;
    margin-bottom: -600px;
    margin-right: 1300px;
    float: left;
}
/* Footer */
