/* header */
h1 {
    text-align: center;
    text-decoration: brown;
    font-size: 70px;
    font: bolder;
    color: rgb(110, 17, 10);
    font-family: 'Comforter', cursive;
    @media (min-width: 992px)
}
.logo {
    float: left;
    width: 90px;
    height: 80px;
    border-radius: 60px;
    margin-left: 50px;
}
.Company-name {
    color: rgb(103, 33, 214);
    font-size: 30px;
    margin-top: -120px;
    margin-left: 160px;
    @media (min-width: 992px)
}
button {
    float: right;
    background-color: rgb(249, 253, 4);
    font-size: 30px;
    margin-right: 30px;
    border-color: yellow;
    margin-top: 130px;
}
button:hover {
    color: red;
}
button:visited {
    color: Green;
}
/* header */
/* Body*/
h1:hover {
    color: blue;
}
h2 {
    text-align: center;
    font-size: 50px;
    color: rgb(110, 17, 10);
    font-family: 'Comforter', cursive;
    @media (min-width: 992px)
}
body {
    background-color: rgb(249, 253, 4);
}
img {
    margin: 20px;
    width: 600px;
    height: 300px;
    margin-left: 100px;
}
.first-car {
    text-align: center;
    font-size: 50px;
    margin-left: 20px;
}
hr {
    border-color: rgb(255, 0, 0);
    width: 95%;
    height: 15px;
    background-color: rgb(47, 165, 57);
    margin-top: 100px;
}
.white-car {
    height: 300px;
    width: 600px;
}
h3 {
    margin-top: 300px;
    font-family: 'Comforter', cursive;
    font-size: 25px;
    float: left;
}
div {
    text-align: center;
}
/* body */
/* footer */

.Facebook {
    width: 200px;
    height: 200px;
    float: right;
    margin-bottom: auto 20px, 200px;
}
.Logo-footer {
    width: 155px;
    height: 140px;
    border-radius: 360px;
    float: left;
    margin-left: 30px;
}
/* footer */