/* header */
h1 {
    text-align: center;
    text-decoration: brown;
    font-size: 70px;
    font: bolder;
    color: rgb(110, 17, 10);
    font-family: 'Comforter', cursive;
    @media (min-width: 992px)
}
.logo {
    float: left;
    width: 90px;
    height: 80px;
    border-radius: 60px;
    margin-left: 50px;
}
.Company-name {
    color: rgb(103, 33, 214);
    font-size: 30px;
    margin-top: -210px;
    margin-left: 160px;
    @media (min-width: 992px)
}
.Gallery {
    font-size: 40px;
    border-radius: 10px;
    background-color: rgb(84, 177, 120);
    border-color: rgb(84, 177, 120);
    margin-left: 75%;
    margin-bottom: -90px;
}
.Price {
    font-size: 40px;
    border-radius: 10px;
    background-color: rgb(84, 177, 120);
    border-color: rgb(84, 177, 120);
    margin-left: 15px;
}
.Contact {
    font-size: 40px;
    border-radius: 10px;
    background-color: rgb(84, 177, 120);
    border-color: rgb(84, 177, 120);
    margin-left: 15px;
}
.Gallery:hover {
    color: purple;
}
.Price:hover {
    color: purple;
}
.Contact:hover {
    color: purple;
}
.Gallery:visited {
    color: blue;
}
.Contact:visited {
    color: blue;
}
.Price:visited {
    color: blue;
}
.M:hover {
    color: red;
}
.Y:hover {
    color: blue;
}
.C:hover {
    color:Green;
}
.A:hover {
    color:Yellow;
}
.R:hover {
    color:Orange;
}
.S:hover {
    color:Purple;
}
.H:hover {
    color:Pink;
}
.O:hover {
    color:Violet;
}
.W:hover {
    color:White;
}
.one:hover {
    color:Red;
}
.two:hover {
    color:Blue;
}
.three:hover {
    color:Yellow;
}
.four:hover {
    color: green;
}
/* header */
/* Body*/
h2 {
    text-align: center;
    font-size: 50px;
    color: rgb(110, 17, 10);
    font-family: 'Comforter', cursive;
    @media (min-width: 992px)
}
.Bugatti {
    float:left;
}
body {
    background-color: rgb(84, 177, 120);
}
img {
    margin: 20px;
    width: 600px;
    height: 300px;
    margin-left: 50px;
    background-color: yellow;
}
.first-car {
    text-align: center;
    font-size: 50px;
    margin-left: 20px;
}
hr {
    border-color: rgb(255, 0, 0);
    width: 95%;
    height: 15px;
    background-color: rgb(47, 165, 57);
    margin-top: 100px;
}
.white-car {
    height: 300px;
    width: 600px;
}
h3 {
    margin-top: 300px;
    font-family: 'Comforter', cursive;
    font-size: 25px;
    float: left;
}
div {
    text-align: center;
}
/* body */
/* footer */

.Logo-footer {
    width: 155px;
    height: 140px;
    border-radius: 360px;
    float: left;
    margin-left: 30px;
}
.facebook {
    background-color: yellow;
}
/* footer */