/* header */
h1 {
    text-align: center;
    text-decoration: brown;
    font-size: 170px;
    font: bolder;
    color: rgb(255, 255, 255);
    font-family: 'Comforter', cursive;
    @media (min-width: 992px)
}
.logo {
    float: left;
    width: 90px;
    height: 80px;
    border-radius: 60px;
    margin-left: 50px;
}
hr {
    background: linear-gradient(to right, red, blue, yellow);
    width: 95%;
    height: 15px;
    background-color: rgb(47, 165, 57);
    margin-top: 600px;
}
.Company-name {
    color: rgb(103, 33, 214);
    font-size: 40px;
    margin-top: -740px;
    margin-left: 160px;
    @media (min-width: 992px)
}
.Bugatti-b {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 3%;
    margin-top: 200px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Lyken-Hypersport-a {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Ford-GT-c {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Corvette {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15xp;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Koenigsegg-J {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Dodge-a {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Maclaren {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Devel {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Mercedes {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
}
.Mclaren-GTR {
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    color: white;
    border-width: -20px;
    border-color: black;
    border-style: none;
    margin-right: 5%;
}

.Bugatti-b:hover {
    background: linear-gradient(to right, red, blue, yellow);
    color: black;
}
.Lyken-Hypersport-a:hover {
    background: linear-gradient(to right, red, blue, yellow);
    color: black;
}
.Ford-GT-c:hover {
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, red, blue, yellow);
}
.Corvette:hover {
    background: linear-gradient(to right, red, blue, yellow);
    color: black;
}
.Koenigsegg-J:hover {
    background: linear-gradient(to right, red, blue, yellow);
    color: black;
}
.Dodge-a:hover {
    background: linear-gradient(to right, red, blue, yellow);
    color: black;
}
.Maclaren:hover {
    background: linear-gradient(to right, red, blue, yellow);
    color: black;
}
.Devel:hover {
    background: linear-gradient(to right, red, blue, yellow);
    color: black;
}
.Mercedes:hover {
    background: linear-gradient(to right, red, blue, yellow);
    color: black;
}
.Mclaren-GTR:hover {
    background: linear-gradient(to right, red, blue, yellow);
    color: black;
}

.M:hover {
    color: rgb(238, 10, 10);
}
.Y:hover {
    color: blue;
}
.C:hover {
    color:Green;
}
.A:hover {
    color:Yellow;
}
.R:hover {
    color:Orange;
}
.S:hover {
    color:Purple;
}
.H:hover {
    color:Pink;
}
.O:hover {
    color:Violet;
}
.W:hover {
    color:rgb(248, 8, 8);
}
.one:hover {
    color:rgb(110, 163, 94);
}
.two:hover {
    color:Blue;
}
.three:hover {
    color:Yellow;
}
.four:hover {
    color: green;
}
/* header */
/* Body*/
h2 {
    text-align: center;
    font-size: 50px;
    color: rgb(216, 23, 10);
    font-family: 'Comforter', cursive;
font-family: 'Source Serif 4', sans-serif;
    @media (min-width: 992px)
}
.Bugatti {
    float:right;
    flex-direction: row;
    width: 1100px;
    height: 700px;
    margin-left: 80%;
    margin-top: -400px;
    border-radius: 80px;
    margin-right: 100px;
}
.Bugatti-Biography {
    float: left;
    font-size: 40px;
    font-family: 'Source Serif 4', sans-serif;
    margin-top: 200px;
    margin-right: 1300px;
    margin-left: 100px;
    color: white;
}
.white-car {
    width: 1100px;
    height: 700px;
    margin-left:100px;
    border-radius: 80px;
    margin-top: -450px;
}
.Lykon-Biography {
    font-family: 'Source Serif 4', sans-serif;
    float: right;
    font-size: 40px;
    margin-left: 1300px;
    margin-top: 200px;
    margin-right: 100px;
    color: white;
}
.Blue-ford {
    width: 1100px;
    height: 700px;
    margin-left:50px;
    border-radius: 80px;
    margin-top: -450px;
    float:right;
    margin-right: 100px;
}
.Ford-GT-Biography {
    font-size: 40px;
    float:left;
    margin-right: 1300px;
    margin-top: 300px;
    margin-left: 100px;
    color: white;
}
.Blue-corvete {
    width: 1100px;
    height: 700px;
    margin-left:100px;
    border-radius: 80px;
    margin-top: 300px;
}
.Corvete-Biography {
    font-size: 40px;
    float: right;
    margin-left: 1300px;
    margin-right: 100px;
    margin-top: 200px;
    color: white;
}
.orange-Koenigsegg {
    width: 1100px;
    height: 700px;
    margin-left:50px;
    border-radius: 80px;
    float: right;
    margin-top: -450px;
    margin-right: 100px;
}
.Koenigsegg-Biography {
    font-size: 40px;
    float:left;
    margin-right: 1300px;
    margin-top: 300px;
    margin-right: 1300px;
    margin-left: 100px;
    color: white;
}
.red-hellcat {
    width: 1100px;
    height: 700px;
    margin-left:50px;
    border-radius: 80px;
    margin-top: 300px;
}
.Hellcat-Biography {
    font-size: 40px;
    float: right;
    margin-left: 1300px;
    margin-right: 100px;
    margin-top: 200px;
    color: white;
}
.orange-mclaren {
    width: 1100px;
    height: 700px;
    margin-left: 50px;
    border-radius: 80px;
    margin-right: 100px;
    float: right;
    margin-top: -450px;
}
.Mclaren-Biography {
    font-size: 40px;
    float:left;
    margin-right: 1300px;
    margin-top: 300px;
    margin-right: 1300px;
    margin-left: 100px;
    color: white;
}
.red-Koenigsegg {
    width: 1100px;
    height: 700px;
    margin-left:50px;
    border-radius: 80px;
    margin-top: 300px;
}
.Red-Koenigsegg-Biography {
    font-size: 40px;
    float: right;
    margin-left: 1300px;
    margin-right: 100px;
    margin-top: 200px;
    color: white;
}
.white-devil {
    width: 1100px;
    height: 700px;
    margin-left: 50px;
    border-radius: 80px;
    margin-right: 100px;
    float: left;
    margin-top: -450px;
}
.Devil-Biography {
    font-size: 40px;
    float:right;
    margin-right: 1300px;
    margin-top: 300px;
    margin-right: 100px;
    margin-left: 1300px;
    color: white;
}
.white-mercedez {
    width: 1100px;
    height: 700px;
    margin-left:50px;
    border-radius: 80px;
    margin-top: -500px;
    float: right;
}
.White-mercedez-Biography {
    font-size: 40px;
    float: left;
    margin-left: 100px;
    margin-right: 1300px;
    margin-top: 200px;
    color: white;
}
.grey-mclaren {
    width: 1100px;
    height: 700px;
    margin-left: 50px;
    border-radius: 80px;
    margin-right: 100px;
    float: left;
    margin-bottom: 500px;
    margin-top: -450px;
}
.Grey-Biography {
    font-size: 40px;
    float:right;
    margin-right: 1300px;
    margin-top: 200px;
    margin-right: 100px;
    margin-left: 1300px;
    color: rgb(255, 255, 255);
}
.Bugatti-name:hover{
    color: rgb(16, 95, 27);
    font-size-adjust: 50px;
}
.Lyken-name:hover{
    color: rgb(150, 79, 79);
}
.Ford-GT-name:hover{
    color: rgb(207, 172, 96);
}
.Chevrolet-name:hover{
    color: rgb(0, 89, 255);
}
.Jesko-name:hover{
    color: rgb(255, 0, 212);
}
.Dodge-name:hover{
    color: rgb(76, 228, 88);
}
.Maclaren-name:hover{
    color: rgb(0, 225, 255);
}
.Sixteen-name:hover{
    color: rgb(208, 255, 0);
}
.AMG-name:hover{
    color: rgb(231, 13, 78);
}
.GTR-name:hover{
    color: rgb(12, 75, 247);
}
body {
    background: rgb(0, 0, 0);
}
/*
h3 {
    margin-top: 300px;
    font-family: 'Comforter', cursive;
    font-size: 25px;
    float: left;
}
*/
/* body */
/* footer */

.Logo-footer {
    width: 155px;
    height: 140px;
    border-radius: 360px;
    float: center;
    margin-left: 49%;
    margin-right: 45%;
    margin-bottom: -180px;
}
.Facebook-Account-mine {
    border-radius: 2000px;
    width: 400px;
    margin-left: 35%;
}
/* footer */